
<%-  include('common/head')  %>
<body>

    <header>
        <%-  include('common/header')  %>
    </header>

    <main>
        <div class="container">
            <div class="col col-md-12">
                <h4 class="mb-3">Venue List</h4>
               
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i = 1; i < name.length-1; i++) { %>
                        <tr>
                          <th scope="row"><%= i %> </th>
                          <td><%= name[i][0] %></td>
                          <td><%= name[i][1] %></td>
                          <td><%= name[i][2] %></td>
                        </tr>    
                      <% } %>
             

                    </tbody>
                  </table>
            </div>
        </div>
    </main>
    

    <footer>
        <%- include('common/footer') %>
    </footer>
</body>
</html>